<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgm2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pgm2">
        <activity android:name=".Account"></activity>
        <activity android:name=".payment" />
        <activity android:name=".RegisterMain" />
        <activity android:name=".login" />
        <activity android:name=".finalpage" />
        <activity android:name=".Pickup" />
        <activity android:name=".SixthMain" />
        <activity android:name=".FifthMain" />
        <activity android:name=".FourthMain" />
        <activity android:name=".ThirdMain" />
        <activity android:name=".SecondMain" />
        <activity
            android:name=".basicintent"
            android:label="@string/title_activity_basicintent"
            android:theme="@style/Theme.Pgm2.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>